name: Build and Publish

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Step 1: Login to Docker Hub using the secrets you just saved
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 2: Build AND Push the image
      # We use a special variable ${{ github.sha }} to give every image a unique ID
      - name: Build and Push
        run: |
          docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/dart-redis-app:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/dart-redis-app:latest
          echo "Image successfully pushed to Docker Hub!"